{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <center><img src="{% static 'img/gyandhara-removelogo.png' %}" alt="Company Logo" class="img-fluid my-3" style="max-width: 200px;"></center>

    <center><h1>Training Calendar</h1></center>
    <iframe src="https://script.google.com/a/macros/aludecor.com/s/AKfycbz_pqM5YYzh6yN9HJxWKGRPpx8ucUPn1QbpA8x-r8lGq7JP1i7xZCwg3CcvTNABZNgu/exec" style="width: 100%; height: 100vh; border: none;"></iframe>
{% endblock %}
