{% extends 'base.html' %}
{% block title %}{{ file.title }} | LMS{% endblock title %}
{% load static %}
{% block content %}

<div id="input-nav"><a href="{% url 'home' %}" class="primary1">Home</a>
    <i>&rsaquo;</i> <a href="{% url 'programs' %}" class="primary1">Programs</a> <i>&rsaquo;</i> 
    <a href="{% url 'program_detail' file.course.program.id %}" class="primary1"> {{ file.course.program }}</a> <i>&rsaquo;</i>
    <a href="{% url 'course_detail' file.course.slug %}" class="primary1">{{ file.course }}</a>
     <i>&rsaquo;</i> {{ file.title }}</div>

<p class="title-1">{{ file.title }}</p>
<div class="title-line"></div><br>

<p class="text-orange text-center">file tutorial for course {{ file.course }}</p>

<style>
    file{
        max-width: 100%; 
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
    }
</style>

<div class="col-md-10 mx-auto d-block">
    <p><i class="fas fa-calendar"></i> {{ video.timestamp|timesince }} ago</p>
    <!-- <div class="iframe-container">
        <iframe src="https://drive.google.com/presentation/d/{{ file.file}}/preview" frameborder="0" allowfullscreen></iframe>
    </div> -->
    
    <div class=""><file src="{{ file.file.url }}" controls ></file></div>
</div>

<p class="text-orange text-center">{{ file.summary }}</p>

<script>
    window.addEventListener('load', function() {
        var navbarHeight = document.querySelector('header').offsetHeight;
        var sopInfoHeight = document.querySelector('.file-info').offsetHeight;
        var iframeContainer = document.querySelector('.iframe-container');
        iframeContainer.style.height = `calc(100vh - ${navbarHeight + sopInfoHeight}px)`;
    });
</script>

<style>
    .iframe-container {
            width: 100vw;
            height: calc(100vh - 80px); 
            overflow: hidden;
        }
        
        iframe {
            display: block;
            width: 70%;
            height: 90%;
            border: none;
        }
</style>

{% endblock content %}
